{
  "env": {
    "browser": true,
    "es6": true
  },
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": ["react", "react-hooks", "@typescript-eslint", "import"],
  "extends": ["airbnb", "plugin:@typescript-eslint/recommended", "plugin:import/typescript"],
  "rules": {
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "function-paren-newline": 0,
    "import/no-extraneous-dependencies": 0,
    "no-confusing-arrow": 0,
    "no-class-assign": 0,
    // "no-use-before-define": ["error", { "variables": false }],
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": ["error"],
    "no-multi-spaces": [2, { "exceptions": { "ObjectExpression": true } }],
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "max-len": ["error", 140],
    "object-curly-newline": 0,
    "react/jsx-filename-extension": [2, { "extensions": [".js", ".jsx", ".ts", ".tsx"] }],

    "linebreak-style": ["error", "windows"],
    "no-unused-expressions": ["error", { "allowShortCircuit": true }],

    "jsx-a11y/anchor-is-valid": [ "error", {
      "components": [ "Link" ],
      "specialLink": [ "to", "hrefLeft", "hrefRight" ],
      "aspects": [ "noHref", "invalidHref", "preferButton" ]
    }],
    "react/prop-types": "off",
    "react-hooks/rules-of-hooks": "error",
    "react/react-in-jsx-scope": "off",
    "arrow-parens": ["error", "as-needed"]
  }
}
